#EverythingFitter {
  position:absolute;
  overflow:hidden;
}

#AttackContainer {
  position:absolute; 
  left:30%; 
  top:80%;
}

#AttackLabel {
  font-size:3vw;
  font-family: 'Marker Felt';
  color: black;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#TurnCounter {
  font-size:2.4vw;
  font-family: 'Marker Felt';
  color: black;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position:absolute;
  left:30%; 
  top:93%;
}

#HealthIcon {
  pointer-events:none;
  position:absolute;
  left:0%; 
  height:15%;
  top:80%;
  z-index: 2001;
}

#HealthAmount {
  pointer-events:none;
  position:absolute;
  font-size:3.6vw;
  font-family: 'Marker Felt';
  left:7%; 
  top:77%;
  z-index: 3000;
}

#ViewPerks {
  position:absolute;
  top: 75%;
  left: 1%;
  font-size:1.8vw;
  font-family: 'Marker Felt';
  z-index: 9000;
}

.ViewPerk {
  position:absolute; 
  left:44%; 
  top:90%;
  font-family: 'Marker Felt';
  color: black;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 2.4vw;
}

.consoletext {
  font-size:1.6vw;
  font-family: 'Marker Felt';

}

#ConsoleTextContainer {
  pointer-events:none;
  position:absolute;
  top: 0%;
  left: 35%;
  background-color: rgb(226, 226, 226);
  z-index: 9000;
}

#ConsoleTextButton {
  position:absolute;
  top: 14%;
  left: 42%;
  font-size:1.5vw;
  font-family: 'Marker Felt';  
  z-index: 9000;
}

.Fighter {
    pointer-events:none;
    position:absolute; 
    width:auto;
    height:30%;
    left:200px;
    top: 25%;
    transform: scaleX(1);
    z-index: 666;
}

.AbilityButton {
  font-size:2vw;
  font-family: 'Marker Felt';
}

#AbilityButtons {
  position:absolute;
  left: 45%;
  top: 80%;
  z-index: 9003;
}
.MessageContainer {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 999999999; /* Sit on top */
    padding-top: 0vw; /* Location of the box */
    left: 0;
    top: 65%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  /* Modal Content */
.Message {
    background-color: #fefefe;
    margin: auto;
    padding: 1.4vw;
    border: 1px solid #888;
    width: 80%;
    background-color: rgb(219, 219, 219)
  }

  .MessageText {
    font-size:1.4vw;
    font-family: 'Marker Felt'
}

.MessageButton {
  font-size:1.4vw;
  font-family: 'Marker Felt'
}

.MessageHeader {
    font-size:2.2vw;
    font-family: 'Marker Felt'
}
#ConsoleHistory {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 999999999; /* Sit on top */
  padding-top: 0vw; /* Location of the box */
  left: 0;
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
  
  /* The Close Button */
  .close {
    color: #5f5f5f;
    float: right;
    font-size: 2.8vw;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #EndText {
    position: absolute;
    top: 15%;
    left: 20%;
    font-size:10vw;
    font-family: 'Marker Felt';
    z-index: 4609457;
    background-color: rgb(226, 226, 226);
  }

  #RetryButton {
    position: absolute;
    top: 55%;
    left: 45%;
    font-size:3vw;
    font-family: 'Marker Felt';
    z-index: 4609457;
  }

  #LevelCount {
    position: absolute;
    font-size:2.2vw;
    font-family: 'Marker Felt';
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    left: 2%;
    top: 0%;
  }

  .gridTile {
    position: absolute;
  }
  
 /* .gridTile:hover,
  .gridTile:focus {
    content:url("GreenTile.PNG");
  }*/

  
  #BonusText {
    position:absolute;
    font-size:1.7vw;
    font-family: 'Marker Felt';
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    top:25%;
    left:35%
  }
  
  #VersionCount {
    position:absolute; 
    top:95%;
    font-size:1.4vw;
    font-family: 'Marker Felt';
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  
    #start-button {
      position:absolute; 
      left:40%; 
      top:40%;
      font-family: 'Marker Felt';
      font-size: 2.4vw;
    }

    #load-button {
      position:absolute; 
      left:43%; 
      top:50%;
      font-family: 'Marker Felt';
      font-size: 2.4vw;
    }
  
    #how-to-play {
      position:absolute; 
      left:42.5%; 
      top:60%;
      font-family: 'Marker Felt';
      font-size: 2.4vw;
    }

    #almanac-button {
      position:absolute; 
      left:43.5%; 
      top:70%;
      font-family: 'Marker Felt';
      font-size: 2.4vw;
    }
    #load-new {
      position:absolute; 
      left:42%; 
      top:80%;
      font-family: 'Marker Felt';
      font-size: 2.4vw;
    }
    #settings {
      position:absolute; 
      left:44%; 
      top:90%;
      font-family: 'Marker Felt';
      font-size: 2.4vw;
    }
    #SettingsButton {
      position:absolute; 
      left:85%; 
      top:4%;
      font-family: 'Marker Felt';
      font-size: 2.2vw;
      z-index: 1000;
    }
  
  #PlantRight {
      position:absolute; 
      width:auto;
      height:68%;
      left:65%; 
      top:25%;
      transform:scaleX(-1);
  }
  
  #PlantLeft {
      position:absolute; 
      width:auto;
      height:68%;
      left:6%; 
      top:25%;
  }
  
  .MenuButton {
    width:10.5vw;
    height:3.4vw;
    font-family: 'Marker Felt';
    font-size: 2vw;
  }

  #TitleContainer {
    position:absolute; 
    left:20%; 
    top:15%;
}

#title {
    font-size:3vw;
    font-family: 'Marker Felt';
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.ChoosePerk {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  padding-top: 0.5vw; /* Location of the box */
  z-index: 999999999;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.PerkMessage {
  background-color: #fefefe;
  padding: 1.4vw;
  border: 1px solid #888;
  min-width: 100%;
  min-height: 680px;
  background-image: url(PerkBackground.PNG)
}

.HTP {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 999999999;
  padding-top: 2vw; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.Almanac {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 15;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.AlmanacMessage {
  background-color: #fefefe;
  padding: 1.4vw;
  border: 1px solid #888;
  width: 80%;
  min-width: 65%;
  background-image: url(AlmanacBackground.PNG)
}

.AlmanacDesc {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  padding-top: 0vw; /* Location of the box */
  z-index: 20;
  left: 67%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.AlmanacDescMessage {
  background-color: #fefefe;
  padding: 1.4vw;
  border: 1px solid #888;
  min-width: 30%;
  min-height: 100%;
  background-image: url(AlmanacDescBackground.PNG)
}

/* Modal Content */

#MenuBlocker {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 8;
}

#MenuLoader {
  position:absolute; 
  left:45%; 
  top:50%;
  font-family: 'Marker Felt'; 
  font-size: 2.4vw;
  z-index: 9;
}

#PlantFightText {
  position: absolute;
  left:22%; 
  top:15%;
  font-family: 'Marker Felt';
  font-size: 5vw;
  z-index: 10002;
}

#ZombieFightText {
  position: absolute;
  left:70%; 
  top:15%;
  font-family: 'Marker Felt';
  font-size: 5vw;
  z-index: 10002;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #999999;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 77px;
  height: 86px;
  border: 0;
  background: url('SunflowerSlider.PNG');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  /*width: 100%;*/
  height: 100%;
  border: 0;
  background: url('SunflowerSlider.PNG');
  cursor: pointer;
}


.PlantAlmanac {
  position: absolute;
  width: 9%;
}

.PlantImgAlmanac {
  position: absolute;
  pointer-events:none;
}

.ZombAlmanac {
  position: absolute;
  width: 9%;
  z-index: 16;
}


.ZombImgAlmanac {
  position: absolute;
  /* height: 125px; */
  pointer-events:none;
  z-index: 17;
}

.AlmanacFrame {
  position: absolute;
  width: 14%;
  z-index: 19;
  pointer-events:none;
}

button { 
  background-color: darkcyan;
  color: white;
  padding: 0.5vw 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}